
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/video.css}" rel="stylesheet">
    <title>출석 체크 중..</title>
</head>
<body>
<div class="container">
    <div class="row">
        <span class ="text1">
            출석 체크 중 ...
        </span>
        <span class="button">
            <button class="button button"type="button" onclick="location.href='/' ">홈으로</button>
        </span>
    </div>
    <div class="iframebox">
        <iframe src="http://127.0.0.1:5000/"></iframe>
    </div>
</div>
</body>
</html>